.container {
    display: block;
    position: relative;
    width: 800px;
    height: 400px;
    border: #c2c2c2 2px solid;
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    border-radius: 150px;
}

.digit {
    display: block;
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    color: #010c03;
}

.digit-12 {
    top: 0;
    left: 400px;
}

.digit-3 {
    top: 180px;
    right: 0px;
}

.digit-6 {
    bottom: 0;
    left: 400px;
}

.digit-9 {
    top: 180px;
    left: 0px;
}

.hand {
    position: absolute;
    top: 0px;
    left: 400px;
    height: 400px;
}

.half-hand {
    display: block;
    width: 100%;
    height: 50%;
}

.hour-hand {
    width: 10px;
    background: purple;
}

.minute-hand {
    width: 3px;
    background: green;
}

.second-hand {
    width: 1px;
    background: red;
}
